<template>
  <div class="container center-content bg-dimblue">
    <h1 class="text-center">Application for employment</h1>

    <form action="" @click.prevent="eventHandler">
      <form action="" class="form-control">
        <span class="mb-5">First Name</span> <span class="red">*</span>
        <input type="text" v-model.trim="fname" />
        <span>Last Name </span> <span class="red">*</span>
        <input type="text" v-model.trim="lname" />
        <span>Age</span>
        <span class="red">*</span>
        <input
          type="number"
          placeholder="18"
          min="18"
          max="36"
          v-model.trim.number="age"
        />
        <span>Email</span> <span class="red">*</span>
        <input type="email" v-model.trim="email" />
      </form>
      <form action="" class="form-control">
        <span>Portfolio Link</span> <span class="red">*</span>
        <input type="text" value="https://" />
        <span>How much do you want to get paid ?</span>
        <span class="red"> *</span>
        <input type="text" v-model.trim="paid" />
        <span>When can you start ?</span>
        <input type="text" v-model.trim="start" />
        <span>Phone Number</span> <span class="red">*</span>
        <input type="text" value="+998" />
      </form>
      <form action="" class="form-control">
        <span> Last Company you worked for ?</span>
        <span class="red"> *</span>
        <input type="text" v-model.trim="company" />
        <span> Do you have a question for us ?</span>
        <input type="text" v-model.trim="questions" />
      </form>
      <button class="btn primary mt" type="submit">Send</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      fname: "",
      lname: "",
      age: "",
      email: "",
      paid: "",
      start: "",
      company: "",
      questions: "",
    };
  },
  methods: {
    eventHandler(event) {
      console.group("Form-info");
      console.log(
        "First name:",
        this.fname,
        "Last name:",
        this.lname,
        "Age:",
        this.age,
        "Email:",
        this.email,
        "Paid:",
        this.paid,
        "Start:",
        this.start,
        "Last Company:",
        this.company,
        "Questions:",
        this.questions
      );
      console.groupEnd();
    },
  },
};
</script>

<style></style>
