@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
  background: cadetblue;
  width: 100%;
  height: 100%;
}

hr {
  margin: 1rem 0;
}

strong,
.bold {
  font-weight: 500;
}

ol,
p,
ul {
  line-height: 1.7;
}

a {
  color: #3eaf7c;
  font-weight: 500;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.45;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eaecef;
}

h3 {
  font-size: 1.35rem;
}

.primary {
  color: #42b983;
}

.danger {
  color: #e53935;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.dimblue {
  background-color: darkcyan;
}

.border {
  border: 1px solid lavender;
}

.dimgrey {
  color: dimgray;
}

.grey {
  color: grey;
}

.btn {
  color: #42b983;
  position: relative;
  place-content: center;
  place-items: center;
  width: fit-content;
  border-radius: 99px;
  letter-spacing: 0.05em;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all 0.22s;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn.primary {
  background: #08543d;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.red {
  color: red;
}

.btn.danger {
  background: #e53935;
  color: #fff;
  border-color: #e53935;
}

.btn.warning {
  background: #c25205;
  color: #fff;
  border-color: #c25205;
}

.center-content {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.mb {
  margin-bottom: 5px;
}
.mb-5 {
  margin-bottom: 15px;
}

.mt {
  margin-top: 5px;
}

.bg-dimblue {
  padding: 50px;
  background: #2c3e50;
  color: #cccccc;
  border-radius: 10px;
  transition: 0.3s ease-in;
}
.bg-dimblue:hover {
  transition: 0.3s ease;
  box-shadow: 2px 2px 19px 6px rgba(9, 91, 92, 0.82);
  -webkit-box-shadow: 2px 2px 19px 6px rgba(9, 91, 92, 0.82);
  -moz-box-shadow: 2px 2px 19px 6px rgba(9, 91, 92, 0.82);
}

.container {
  margin-top: 20px;
  max-width: 1040px;
  height: 830px;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 5rem;
}

.form-control {
  position: relative;
  margin-bottom: 0.5rem;
}

.form-control input {
  width: 100%;
  outline: none;
  border: 2px solid #ccc;
  display: block;
  color: #2c3e50;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form-control label {
  display: block;
  margin: 0 0 0.3rem 0.3rem;
  font-weight: 500;
}

.form-control input:active,
.form-control input:focus {
  transition: border 0.22s;
  border: 2px solid #42b983;
}

.form-control span {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  font-weight: 500;
}

.card {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.card.marked {
  border: 4px solid #42b983;
}

.card.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}
